
@mixin pilotosFlex {
    display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 1rem;
}

.pilotosContainer{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
        .mercedes, .ferrari, .redbull, .astonMartin, .mcLaren, .alphaRomeo, .haas, .williams, .alpine, .alphaTauri{
                @include pilotosFlex();
                img{
                    border: 10px groove rgba(36, 36, 36, 0.644);
                    display: flex;
                    position: relative;
                    align-items: center;
                    filter: contrast(110%) brightness(110%) drop-shadow(5px 0 10px rgba(87, 87, 87, 0.295));
                }
        }
        .nombre{
            text-align: center;
        }
}