.pilotosContainer {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem; }
  .pilotosContainer .mercedes, .pilotosContainer .ferrari, .pilotosContainer .redbull, .pilotosContainer .astonMartin, .pilotosContainer .mcLaren, .pilotosContainer .alphaRomeo, .pilotosContainer .haas, .pilotosContainer .williams, .pilotosContainer .alpine, .pilotosContainer .alphaTauri {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem; }
    .pilotosContainer .mercedes img, .pilotosContainer .ferrari img, .pilotosContainer .redbull img, .pilotosContainer .astonMartin img, .pilotosContainer .mcLaren img, .pilotosContainer .alphaRomeo img, .pilotosContainer .haas img, .pilotosContainer .williams img, .pilotosContainer .alpine img, .pilotosContainer .alphaTauri img {
      border: 10px groove rgba(36, 36, 36, 0.644);
      display: flex;
      position: relative;
      align-items: center;
      filter: contrast(110%) brightness(110%) drop-shadow(5px 0 10px rgba(87, 87, 87, 0.295)); }
  .pilotosContainer .nombre {
    text-align: center; }
